{% extends 's5_base.html' %}

{% block title %}Southville JS :: Introduction to backbone.js{% endblock %}

{% block location_date %}Simpleweb 13 June 2012{% endblock %}

{% block pres_title %}Southville JS :: Introduction to backbone.js{% endblock %}

{% block content %}

<div class="slide">
	<h1>Introduction to backbone JS</h1>
	<h2>Southville JS</h2>
	<h3>Rick Hurst</h3>
	<h4>www.rickhurst.co.uk @rickhurst</h4>
</div>


<div class="slide">
	<h1>About Me</h1>
	<ul class="incremental">
		<li>Professional "Jack of all trades" Web developer since 1999</li>
		<li>Day Job is Django/ front end developer at Potato</li>
		<li>Previously freelanced for 5 years, mostly PHP/ front end</li>
		<li>Co-own a ecommerce/ EDI company olivewoodtech.co.uk</li>
		<li>My blog: www.rickhurst.co.uk</li>
		<li>Twitter @rickhurst</li>
	</ul>
</div>


<div class="slide">
	<h1>What is Backbone?</h1>
	<ul class="incremental">
		<li>a Javascript framework that allows you to structure your Javascript code in an MVC (Model, View, Controller) fashion</li>
		<li>Only dependency is underscore.js <em>"a utility-belt library for JavaScript that provides a lot of the functional programming support that you would expect in Prototype.js (or Ruby), but without extending any of the built-in JavaScript objects"</em></li>
		<li>Jquery not required, but usually used for DOM manipulation (not using Jquery for everything is the new using Jquery for everything)</li>
	</ul>
</div>

<div class="slide">
	<h1>Why would you use it?</h1>
	<ul class="incremental">
		<li>Add structure and process to your JavaScript application</li>
		<li>Some really nice features built in to standardise the way common tasks are carried out</li>
		<li> Really useful way of making an application event driven, rather than relying on scattering listeners around the DOM and chaining functions together as I have been doing up until now</li>
	</ul>
</div>


<div class="slide">

	<ul class="incremental">
		<li>Models</li>
		<li>Views</li>
		<li>Routers</li>
		<li>Collections</li>
		<li>Ajax/ REST</li>
		<li>Example To Do App</li>
	</ul>

</div>

<div class="slide">
	<h1>Thanks!</h1>
	<ul>
		<li>watch www.rickhurst.co.uk and @rickhurst for slides online</li>
		<li>All code used for demos is on my github account github.com/rickhurst/django-sandbox</li>
		<li>Most demo code based on these video tutorials: <a href="http://www.youtube.com/watch?v=uYIzpHjPgXE&feature=BFa&list=UUASkem-wXHwasZk1V7Fhjvw">Introduction to Backbone.js Joe Zim</a></li>
		<li>To Do app based on tutorial <a href="http://arturadib.com/hello-backbonejs/">Hello Backbone.js</a></li>
	</ul>
</div>

{% endblock %}