{% extends 's5_base.html' %}

{% block title %}Southville JS :: Introduction to backbone.js{% endblock %}

{% block location_date %}Simpleweb 13 June 2012{% endblock %}

{% block pres_title %}Southville JS :: Introduction to backbone.js{% endblock %}

{% block content %}

<div class="slide">
	<h1>Introduction to backbone JS</h1>
	<h2>Southville JS</h2>
	<h3>Rick Hurst</h3>
	<h4>Django Developer at Potato/ Freelance/ Olivewood</h4>
</div>


<div class="slide">
	<h1>What is Backbone?</h1>
	<ul class="incremental">
		<li>a Javascript framework that allows you to structure your Javascript code in an MVC (Model, View, Controller) fashion</li>
		<li>Only dependency is underscore.js <em>"a utility-belt library for JavaScript that provides a lot of the functional programming support that you would expect in Prototype.js (or Ruby), but without extending any of the built-in JavaScript objects"</em></li>
		<li>Jquery not required, but usually used for DOM manipulation (not using Jquery for everything is the new using Jquery for everything)</li>
	</ul>
</div>

<div class="slide">
	<h1>Why would you use it?</h1>
	<ul class="incremental">
		<li>Add structure and process to your JavaScript application</li>
		<li>Some really nice features built in to standardise the way common tasks are carried out</li>
	</ul>
</div>

<div class="slide">
	<h1>Models</h1>
<pre>
	
</pre>
</div>

{% endblock %}