{% extends 's5_base.html' %}

{% block title %}Southville JS :: Introduction to backbone.js{% endblock %}

{% block location_date %}Simpleweb 13 June 2012{% endblock %}

{% block pres_title %}Southville JS :: Introduction to backbone.js{% endblock %}

{% block content %}

<div class="slide">
	<h1>Introduction to backbone JS</h1>
	<h2>Southville JS</h2>
	<h3>Rick Hurst</h3>
	<h4>Django Developer at Potato/ Freelance/ Olivewood</h4>
</div>


<div class="slide">
	<h1>What is Backbone?</h1>

</div>

{% endblock %}